{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Reports</h2>

    <div class="mb-3"><a href="{{ url_for('report.unique_bugs') }}" class="btn btn-success">View Unique Bug Summary</a></div>

    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>Execution</th>
                <th>Status</th>
                <th>Progress</th>
                <th width="120">Action</th>
            </tr>
        </thead>

        <tbody>

        {% for report in reports %}

        <tr>

            <td>{{ report.name }}</td>
            <td><a href="/reports/{{ report.name }}" class="badge {{ 'bg-success' if report.status == 'PASSED' else 'bg-danger' if report.status == 'FAILED' else 'bg-secondary' }}">{{ report.status }}</a></td>
            <td>{{ report.job.completed if report.job else '-' }}/{{ report.job.total if report.job else '-' }}</td>

            <td>

                <a
                    href="/reports/{{ report.name }}"
                    class="btn btn-primary btn-sm">

                    View

                </a>

            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}
